<div class="container">
    {{item.id}}
    {{item.studentId}}
    {{item.zadatakId}}
    {{item.ocena}}
</div><br>

<div *ngIf="izmeniForm">
    <form [formGroup]="izmeniForm" (ngSubmit)="izmeni(izmeniForm.value)" ngNativeValidate>
        <select formControlName="studentId">
            <option *ngFor="let item2 of items2" [value]="item2.id">{{item2.idenks}}</option> 
        </select>
        <br>
        <select formControlName="zadatakId">
            <option *ngFor="let item of items" [value]="item.id">{{item.oblast}} {{item.predmet}}</option> 
        </select>
        <br>
        <input type="number" formControlName="ocena" placeholder="ocena" required>
        <br>
        <input type="submit" value="Izmeni">
    </form>
</div>
