<ul>
    <li><a [routerLink]="['/prikazStudenta']">Studenti</a></li>
    <li><a [routerLink]="['/prikazZadatak']">Zadatak</a></li>
    <li><a [routerLink]="['/prikazOcena']">Ocena</a></li>
</ul>
<router-outlet></router-outlet>