<div class="container">
    {{item.id}}
    {{item.idenks}}
    {{item.ime}}
    {{item.prezime}}
    {{item.datumRodenja}}
    <div *ngFor="let item2 of items2">
        <div *ngIf="item.id == item2.studentId">
            {{item2.zadatakId}} {{item2.ocena}}
        </div>
    </div>
</div><br>

<div *ngIf="izmeniForm">
    <form [formGroup]="izmeniForm" (ngSubmit)="izmeni(izmeniForm.value)" ngNativeValidate>
        <input type="text" formControlName="idenks" placeholder="idenks" required>
        <br>
        <input type="text" formControlName="ime" placeholder="ime" required>
        <br>
        <input type="text" formControlName="prezime" placeholder="prezime" required>
        <br>
        <input type="date" formControlName="datumRodenja" placeholder="datumRodenja" required>
        <br>
        <input type="submit" value="Izmeni">
    </form>
</div>
