<div class="container">
    <div *ngFor="let item of items">
        {{item.id}}
        {{item.oblast}}
        {{item.predmet}}
        <button (click)="obrisi(item.id)">Obrisi</button>
        <button (click)="detalji(item.id)">Detalji</button>
    </div>
</div><br>
<div>
    <form [formGroup]="dodajForm" (ngSubmit)="dodaj(dodajForm.value)" ngNativeValidate>
        <input type="text" formControlName="oblast" placeholder="oblast" required>
        <br>
        <input type="text" formControlName="predmet" placeholder="predmet" required>
        <br>
        <input type="submit" value="Dodaj">
    </form>
</div>
