<div class="container">
    <div *ngFor="let item of items">
        {{item.id}}
        {{item.studentId}}
        {{item.zadatakId}}
        {{item.ocena}}
        <button (click)="obrisi(item.id)">Obrisi</button>
        <button (click)="detalji(item.id)">Detalji</button>
    </div>
</div><br>
<div>
    <form [formGroup]="dodajForm" (ngSubmit)="dodaj(dodajForm.value)" ngNativeValidate>
        <select formControlName="studentId">
            <option *ngFor="let item2 of items3" [value]="item2.id">{{item2.idenks}}</option> 
        </select>
        <br>
        <select formControlName="zadatakId">
            <option *ngFor="let item of items2" [value]="item.id">{{item.oblast}} {{item.predmet}}</option> 
        </select>
        <br>
        <input type="number" formControlName="ocena" placeholder="ocena" required>
        <br>
        <input type="submit" value="Dodaj">
    </form>
</div>
