<div class="container">
    <div *ngFor="let item of items">
        {{item.id}}
        {{item.idenks}}
        {{item.ime}}
        {{item.prezime}}
        {{item.datumRodenja}}
        <button (click)="obrisi(item.id)">Obrisi</button>
        <button (click)="detalji(item.id)">Detalji</button>
    </div>
</div><br>

<div>
    <form [formGroup]="dodajForm" (ngSubmit)="dodaj(dodajForm.value)" ngNativeValidate>
        <input type="text" formControlName="idenks" placeholder="idenks" required>
        <br>
        <input type="text" formControlName="ime" placeholder="ime" required>
        <br>
        <input type="text" formControlName="prezime" placeholder="prezime" required>
        <br>
        <input type="date" formControlName="datumRodenja" placeholder="datumRodenja" required>
        <br>
        <input type="submit" value="Dodaj">
    </form>
</div>
